.title {
  margin-top: 20px;
  font-size: 24px;
  color: #3c3c3c;
  :global {
    .anticon {
      margin-right: 10px;
      color: #53ab90;
    }
  }
}

.breadcrumb {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9c9c9c;
  margin-bottom: 20px;
  :global {
    .anticon {
      margin-right: 5px;
    }
  }
}
