.wrapper {
  padding: 80px;
}
.user {
  font-size: 24px;
  text-align: center;
  color: #7c7c7c;
}
.buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.balance {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .amount {
    font-size: 36px;
  }
  .token {
    color: #9c9c9c;
  }
}